body {
    padding-top: 70px;
    margin: 0;
    padding: 0;
    background: #000;

}

/* colour change to nav bar */
.new-navbar {
    background-color: #000;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.new-navbar .container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex; !important;
    align-items: center; !important;
    justify-content: space-between;
    padding-left: 0 !important; 
    padding-right: 0 !important;
    gap: 0;
}

.navbar-brand {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

/* logo in navbar */
.logo {
    height: 30px;
    width: auto;
    margin-right: auto !important;
    margin-left: 15px !important;
}

.nav-link {
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: normal;
    display: flex;
    align-items: center;
}
/* grey hover over links */
.new-navbar .nav-link:hover {
    color: #cccccc !important;
}

.new-navbar .navbar-nav {
    margin-left: auto !important;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 24px;
}

.hero-section {
    background: url("../images/hero-section-gym.jpg") no-repeat center center/cover;
    padding-top: 80px;
    position: relative;
}

.hero-section .container,
.hero-section .row,
.hero-section .col-md-6,
.hero-section a,
.hero-section button {
    position: relative;
    z-index: 2;
}

/*dark overlay*/
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0,0,0,0.05) 40%, rgba(0,0,0,0.3) 100%);
    z-index: 1;
}
.hero-section h1 {
    text-shadow: 0 3px 10px rgba(0,0,0,0.50);
    color: azure;
}

.hero-section p {
    margin-bottom: 24px;
}

.hero-section p, .badge {
    text-shadow: 0 2px 4px rgba(0,0,0,0.4);
    color: white;
}

.hero-section .btn {
    border-radius: 8px;
    padding: 12px 32px;
    font-weight: 600;
}

.btn-outline-light {
    border-width: 2px;
}

.hero-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000 100%);
    z-index: 1;
    
}
 
.fade-in {
    opacity: 0;
    animation: fadeUp 1s ease forwards;
}
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.features-section h4 {
    margin-top: 0;
    color: white !important;
}
.features-section p {
    margin-top: 8px;
}
.features-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #000;
}

.avatar-img.blaze {
    width: 190px;
}

.avatar-img.zaya {
    width: 170px;
}

.avatar-img.shadow {
    width: 173px;
}

.avatars-section {
    background: #000;
}

.avatars-section .col-md-4 {
  padding: 40px 0;
  overflow: hidden;
  background: #000;
}

.avatar-img {
  transition: transform 0.3s;
}

.blaze:hover {
  filter: drop-shadow(0 0 30px rgba(255, 100, 0, 0.9));
}

.zaya:hover {
  filter: drop-shadow(0 0 30px rgba(0, 120, 255, 0.9));
}

.shadow:hover {
  filter: drop-shadow(0 0 30px rgba(140, 0, 255, 0.9));
}

.avatar-img:hover {
  transform: scale(1.05);
}

.hero-video {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
}

.footer-section {
    background-color: black;
    color: white;
    padding: 10px 0;
    margin-top: 0px
}

.about-hero {
    background: black;
    color:white
}

 .about-hero-video {
    width: 100%;
    max-width: 900px;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
}

.navbar-toggler {
    border: none;
}

@media (max-width: 768px) {
    .nav-link {
        padding: 12px 0;
        font-size: 18px;
        text-align: center;
    }
}
